/* 
    Name: Reily Stanford and Enrique Tejeda
    Date: 3/12/2021
    File: index.css
*/

/* Styling the Map */
#map {
    height: 45vh;
    width: 85%;
    float: right;
}

/* Styling the html and body */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/* Styling text in infoWindow */
p{
    margin: 0;
}

/* Highlighting rows on hover */
.tRows:hover{
    background-color: rgb(204, 204, 204);
}

/* Styling the information panel to the left of the map */
#infoPanel {
    position: absolute;
    top: 80px;
    left: 0;
    height: 45vh;
    width: 15%;
    background-color: rgba(204, 204, 204, 0.144);
    text-align: center;
    line-height: 1.5em;
}